---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="">
                    </a>
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
                 <h4 class="title">
                     <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <br/>
                        <br/>
                        <div class="mc-field-group">
                        <div id="mc_embed_signup">
                            <form action="https://wanderso.us19.list-manage.com/subscribe/post?u=1a2638efe5c7d4d3d2194ba4f&amp;id=d4f9438563" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>   
                        </div>
                            <form action="https://wanderso.us19.list-manage.com/subscribe/post?u=1a2638efe5c7d4d3d2194ba4f&amp;id=d4f9438563" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                     
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <input type="submit" class="btn zoombtn" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        <br/>
                        <span style="font-weight:normal;"> <i>Submit your email to get alerts for new posts!</i>                    
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

                    <!-- <form action="https://getsimpleform.com/messages?form_api_token=d122592d0e47a634553f061a4da88072" method="post">
                     <input type="email" class ="title" name='email' />
                     <input class ="btn zoombtn" type='submit' value='Subscribe' />
                     <br/>   
                   
                     <br/>
                     <br/>
                     </form> -->
                </h4>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
